@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    font-family: "Open Sans";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #A100004D;
}

 .ingred, .stegar, .tips, .title_main, .lead{
    width: 90%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    border: none;
    background-color: #FCFCFC;
}

.title_main{
font-family: 'Open Sans';
color: #A10000;
font-size: 40px;
}

.lead{
    background-color: #EBEBEB;
}

.lead p{
    margin-left: 20px;
}

.img_main img {
max-width: 100%;
height: auto;
margin: 0;
}

.ingred_head{
    display: flex;
}

.ingred li{
    margin-left: 0;
}

.tips_pic{
    display: flex;
    margin-bottom: 50px;
}

.tips_pic img {
    width: 50%;
}



